{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<main>
  <a id="logo-link" href="{% url 'home' %}">  <img id="logo" alt="NextBoat" src="{% static 'images/logo.svg' %}">  </a>
  <div class="form-cont">
    <h1>{% trans "Login" %}</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
    <div id="create-account">
      Don't have an account? <a href="{% account_signup% }">Create one</a>
    </div>
  </div> 
</main>

{% endblock %}
