{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<main>
  <a href="{% url 'home' %}"></a>
  <img id="logo" alt="NextBoat" src="{% static 'images/logo.svg' %}">
  <div class="form-cont">
    <h1>{% trans "Login" %}</h1>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div> 
</main>

{% endblock %}
