{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}Create Account{% endblock %}

{% block content %}

<main>
  <a id="logo-link" href="{% url 'home' %}">  <img id="logo" alt="NextBoat" src="{% static 'images/logo.svg' %}">  </a>
  <div class="form-cont">
    <h1>Create Account</h1>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
    <div id="create-account">
      Already have an account? <a href="{% url 'account_login' %}">Login</a>
    </div>
  </div>
</main>

{% endblock %}
