<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> </link>
    <link rel="stylesheet" href="https://use.typekit.net/vrz6cku.css">
    {% block head %}
    {% endblock %}
</head>
<body>
<div id="nav-bar-container">
    <div id="nav-bar">
        <nav id="buy-sell-nav">
            <a href="#" id="buy-nav">Buy</a>
            <div id="nav-divider"></div>
            <a href="#" id="sell-nav">Sell</a>
        </nav>
        <a href="#" id="logo-nav">
            <image id="nav-logo" src="/images/logo.svg" alt="Next Boat Logo">
        </a>
        <div role="button" id="burger-profile-icon">

        </div>
    </div>
</div>    
{% block content %}
{% endblock %}

</body>
</html>