{% extends 'listings/base.html' %}
{% load humanize %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/listing_details.css' %}"> </link>
{% endblock %}
{% block content %}

<main id="listing-detail-main">
    <div id="listings-return"><a href>Search results</a></div>
    <h1 class="listing-detail-h1">Regal 2565 Window Express</h1>
    <div id="listing-details-flex">
        <div id="listing-particulars-col">
            <h3 class="listing-details-h3">Overview</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Make</span>
                    <span class="particulars-detail">{{ listing.get_make_display }}</span>
                    <span class="particulars-descriptor">Price</span>
                    <span class="particulars-detail">£{{ listing.price|intcomma }}</span>
                    <span class="particulars-descriptor">Year</span>
                    <span class="particulars-detail"> {{ listing.year_construction }}</span>
                    <span class="particulars-descriptor">Country</span>
                    <span class="particulars-detail"> {{ listing.country }}</span>
                    <span class="particulars-descriptor">Seller</span>
                    <span class="particulars-detail"> {{ listing.created_by }}</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Model</span>
                    <span class="particulars-detail"> {{ listing.model }}</span>
                    <span class="particulars-descriptor">Tax Status</span>
                    <span class="particulars-detail"> {{ listing.get_tax_paid_display }}</span>
                    <span class="particulars-descriptor">Condition</span>
                    <span class="particulars-detail">{{ listing.get_condition_display }}</span>
                    <span class="particulars-descriptor">Location</span>
                    <span class="particulars-detail">{{ listing.location }}&nbsp;</span>
                    <span class="particulars-descriptor">Listed on</span>
                    <span class="particulars-detail">{{ listing.created_on }}</span>
                </div>
            </div>
            <h3 class="listing-details-h3">Particulars</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Length</span>
                    <span class="particulars-detail">{{ listing.length }} m</span>
                    <span class="particulars-descriptor">Draft</span>
                    <span class="particulars-detail"> {{ listing.draft }} m</span>
                    <span class="particulars-descriptor">Type</span>
                    <span class="particulars-detail"> {{ listing.type }}</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Beam</span>
                    <span class="particulars-detail"> {{ listing.beam }} m</span>
                    <span class="particulars-descriptor">Weight</span>
                    <span class="particulars-detail"> {{ listing.weight }} kg</span>
                    <span class="particulars-descriptor">Hull Material</span>
                    <span class="particulars-detail">{{ listing.get_hull_material_display }}</span>
                </div>
            </div>
            <h3 class="listing-details-h3">Propulsion</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Number of engines</span>
                    <span class="particulars-detail">{{ listing.number_of_engines }} m</span>
                    <span class="particulars-descriptor">Maximum Speed</span>
                    <span class="particulars-detail"> {{ listing.speed }} knots</span>
                    <span class="particulars-descriptor">Range</span>
                    <span class="particulars-detail"> {{ listing.range }} NM</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Fuel</span>
                    <span class="particulars-detail"> {{ listing.get_fuel_display }} m</span>
                    <span class="particulars-descriptor">Cruising Speed</span>
                    <span class="particulars-detail"> {{ listing.cruising_speed }} knots</span>
                </div>
            </div>
            <h3 class="listing-details-h3">Accomodation</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Cabins</span>
                    <span class="particulars-detail">{{ listing.cabins }}&nbsp;</span>
                    <span class="particulars-descriptor">Heads</span>
                    <span class="particulars-detail"> {{ listing.heads }}&nbsp;</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Berths</span>
                    <span class="particulars-detail"> {{ listing.berths }}&nbsp;</span>
                    <span class="particulars-descriptor">Cabin Headroom</span>
                    <span class="particulars-detail"> {{ listing.cabin_headroom }}&nbsp;</span>
                </div>
            </div>
        </div>
        <div id="listing-description-col">
            <h3 class="listing-details-h3">Description</h3>
            <div class="particulars-card">
                <span class="particulars-detail"> {{ listing.listing_description }}</span>
            </div>
        </div>
    </div>
</main>

{% endblock %}