{% extends 'base.html' %}
{% load humanize %}
{% load listing_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/listing_details.css' %}"> </link>
<title>{{ listing.get_make_display }} {{ listing.model }} {{ listing.category }} for sale | NextBoat - buy and sell boats online</title>
{% endblock %}
{% block content %}
<main id="listing-detail-main">
    <div id="listings-return"><a href="/boats">All Boats</a></div>
    <h1 class="listing-detail-h1">{{ listing.get_make_display }} {{ listing.model }}</h1> 
    <div id="listing-pictures-cont">
        <div id="gallery-launch-button" role="button">
            <img alt="" class="gallery-icon" src="{% static 'images/gallery_icon.svg' %}">
            <span>
                All Pictures
            </span>
        </div>
        <div id="main-listing-picture">
            <img src="{{ listing.featured_image.url }}" alt="Picture of {{ listing.get_make_display }} {{ listing.model }}">
        </div>
        <div id="listing-picture-grid">
            {% for preview_image in preview_images %}
               <img class="preview-images" src="{{ preview_image.image.url }}">
            {% endfor %}
        </div>
    </div>
    <div id="all-images-cont">
        {% for gallery_image in gallery_images %}
        <img class="gallery-images" src="{{ gallery_image.image.url }}">
        {% endfor %}
    </div>
    <div id="interested-cont">
        {% if listing_favourite %}
        <div class="favourite-button" id="favourited" role="button"><a href="{% url 'favourite_toggle' listing.pk %}"><img alt="This boat has been added to your favourites" src="{% static 'images/heart_red.svg' %}"></a></div>
        {% else %}
        <div class="favourite-button" role="button"><a href="{% url 'favourite_toggle' listing.pk %}"><img alt="Add boat to favourites" src="{% static 'images/heart_icon.svg' %}"></a></div>
        {% endif %}
        <div id="contact-seller-cont">
            {% if listing.created_by|stringformat:"s" == user.get_username %}
            <a href="{% url 'listing_edit' listing.pk %}" id="contact-button-a"><div id="edit-listing-button" class="action"><span>Edit Listing</span></div></a> 
            {% else %}
            <span id="contact-seller-label">Interested in this boat?</span>
            <a href="{% url 'message_seller' listing.pk %}" id="contact-button-a"><div id="contact-seller-button" class="action"><span>Contact Seller</span></div></a>
            {% endif %}
        </div>
    </div>
    <div id="listing-details-flex">
        <div id="listing-particulars-col">
            <h3 class="listing-details-h3">Overview</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Make</span>
                    <span class="particulars-detail">{{ listing.get_make_display }}</span>
                    <span class="particulars-descriptor">Price</span>
                    <span class="particulars-detail">£{{ listing.price|intcomma }}</span>
                    <span class="particulars-descriptor">Year</span>
                    <span class="particulars-detail"> {{ listing.year_construction }}</span>
                    <span class="particulars-descriptor">Country</span>
                    <span class="particulars-detail"> {{ listing.country }}</span>
                    <span class="particulars-descriptor">Seller</span>
                    <span class="particulars-detail"> {{ listing.created_by }}</span>
                    <span class="particulars-descriptor">Listing Status</span>
                    <span class="particulars-detail"> {{ listing.get_listing_status_display }}</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Model</span>
                    <span class="particulars-detail"> {{ listing.model }}</span>
                    <span class="particulars-descriptor">Tax Status</span>
                    <span class="particulars-detail"> {{ listing.get_tax_paid_display }}</span>
                    <span class="particulars-descriptor">Condition</span>
                    <span class="particulars-detail">{{ listing.get_condition_display }}</span>
                    <span class="particulars-descriptor">Location</span>
                    <span class="particulars-detail">{{ listing.location }}&nbsp;</span>
                    <span class="particulars-descriptor">Listed on</span>
                    <span class="particulars-detail">{{ listing.created_on|date:"d M Y"}}</span>
                </div>
            </div>
            <h3 class="listing-details-h3">Particulars</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Length</span>
                    <span class="particulars-detail">{{ listing.length }} m</span>
                    <span class="particulars-descriptor">Draft</span>
                    <span class="particulars-detail"> {{ listing.draft }} m</span>
                    <span class="particulars-descriptor">Type</span>
                    <span class="particulars-detail"> {{ listing.get_type_display }}</span>
                    <span class="particulars-descriptor">Category</span>
                    <span class="particulars-detail"> {{ listing.get_category_display }}</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Beam</span>
                    <span class="particulars-detail"> {{ listing.beam }} m</span>
                    <span class="particulars-descriptor">Weight</span>
                    <span class="particulars-detail"> {{ listing.weight }} kg</span>
                    <span class="particulars-descriptor">Hull Material</span>
                    <span class="particulars-detail">{{ listing.get_hull_material_display }}</span>
                </div>
            </div>
            <h3 class="listing-details-h3">Propulsion</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Number of engines</span>
                    <span class="particulars-detail">{{ listing.number_of_engines }}</span>
                    <span class="particulars-descriptor">Maximum Speed</span>
                    <span class="particulars-detail"> {{ listing.maximum_speed }} knots</span>
                    <span class="particulars-descriptor">Total Horsepower</span>
                    <span class="particulars-detail"> {{ listing.total_hp }} HP</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Fuel</span>
                    <span class="particulars-detail"> {{ listing.get_fuel_display }}</span>
                    <span class="particulars-descriptor">Cruising Speed</span>
                    <span class="particulars-detail"> {{ listing.cruising_speed }} knots</span>
                </div>
            </div>
            <h3 class="listing-details-h3">Accomodation</h3>
            <div class="particulars-card">
                <div class="particulars-card-col-left">
                    <span class="particulars-descriptor">Cabins</span>
                    <span class="particulars-detail">{{ listing.cabins }}&nbsp;</span>
                    <span class="particulars-descriptor">Heads</span>
                    <span class="particulars-detail"> {{ listing.heads }}&nbsp;</span>
                </div>
                <div class="particulars-card-col-right">
                    <span class="particulars-descriptor">Berths</span>
                    <span class="particulars-detail"> {{ listing.berths }}&nbsp;</span>
                </div>
            </div>
        </div>
        <div id="listing-description-col">
            <h3 class="listing-details-h3">Description</h3>
            <div class="particulars-card">
                <span class="particulars-detail"> {{ listing.listing_description }}</span>
            </div>
            <h3 class="listing-details-h3">Features</h3>
            <div class="particulars-card">
                <!--This code snippet is from Stackoverflow user artem https://stackoverflow.com/questions/8317537/django-templates-split-string-to-array-->
                <div id="features-flex">
                    {% with listing.boat_feature_list|split:"^^" as features %}
                        {% for feature in features %}
                        <span class="listing-details-feature">{{ feature }}</span>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</main>
<script src="{% static 'javascript/gallery.js' %}">
</script>
{% endblock %}