{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/edit_delete_images.css' %}"> </link>
<title>
    Edit Images | NextBoat
</title>
{% endblock %}
{% block content %}
{% if listing.created_by|stringformat:"s" == user.username %}
<main>
    <a href="{% url 'my_listings' %}" id="message-back"><img src="https://nextboat-ci-static.s3.eu-west-2.amazonaws.com/static/images/return_icon.svg" alt="Back to My Listings">My Listings</a>
    <h1>{{ listing.get_make_display }} {{ listing.model }} Images</h1>
    <h3>Delete Images</h3>
    <div id="existing-images-flex">
        {% if listing_images %}
        {% for image in listing_images %}
        <a href="{% url 'delete_image' image.pk %}">
            <div class="existing-image-cont">
                <img src="{{ image.image.url }}">
                <div class="delete-icon-button">
                    <img src="{% static 'images/delete.svg' %}" alt="">
                </div>
            </div>
        </a>
       {% endfor %}
       {% else%}
       <h3>There are no images to be deleted.</h3>
       {% endif %}
    </div>
    <form method="post" id="create-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label><h3>Add Images</h3></label>
            <div id="form-cont">
            {{ listing_media_form.image }}
            {{ listing_media_form.image.errors }}
            <div class="form-tip">
                <image alt="" src="{% static 'images/information_icon.svg' %}"></image>
                <span>Our users love lots of clear images, generate more interest with more pictures.</span>
            </div>
            <button type="submit">Add Images</button>
        </form>
</main>
{% else %}
<main>
    <h3>You do not have permission.</h3>
</main>
{% endif %}
{% endblock %}