{% extends "listings/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- {% if listing_create_form.errors %}
    {% for key, value in listing_create_form.errors.items %}
      {{key|escape}}<br>
      {{value|escape}}
    {% endfor %}
  {% endif %} -->
  
  {{ listing_create_form.as_p }}
  
  {{ listing_media_form.as_p }}
  <!-- <input type="submit" value="Submit Form 2"> -->
  <button type="submit">Submit Form</button>
</form>

{% endblock %}
