{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/listings.css' %}"> </link>
<title>Explore power and sail boats for sale | NextBoat</title>
{% endblock %}
{% block content %}
<main>
<div class="listing-grid">
    {% for listing in listings_list %}
    <div class="boat-listing-cont">
        <a href="#">
            <div class="boat-listing-item">
                <img class="listing-picture" alt="Picture of boat {{ listing.get_make_display }} {{ listing.model }}" src="{{ listing.featured_image.url }}">
                <div class="listing-text-flex">
                    <span class="listing-title">{{ listing.get_make_display }} {{ listing.model }}</span>
                    <div class="listing-description">
                        {{ listing.listing_excerpt }}
                    </div>
                    <div class="year-loc-flex">
                        <div class="year">
                            <img class="year-icon" alt="" src="{% static 'images/cake_icon.svg' %}">{{ listing.year_construction }}
                        </div>
                        <div class="location">
                            <img class="location-icon" alt="" src="{% static 'images/location_icon.svg' %}">{{ listing.location }}
                        </div>
                    </div>
                    <div class="price">
                        £ {{ listing.price|intcomma }}
                    </div>
    
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
</main>
{% endblock %}