{% extends "listings/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/create.css' %}"> </link>
{% endblock %}
{% block content %}

<main>
  <h1>Create a new listing</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ listing_create_form.condition }}
    {{ listing_create_form.tax_paid }}
    <h2>What kind of boat are you selling?</h2>
    <div class="form-section-cont">
      <h3>Boat Type</h3>
      <div class="radio-cont-2">
        <label>
          <input type="radio" class="hidden-radio" value="P" checked name="type_field">
          <div class="radio-div-2">Power</div>
        </label>
        <label>
          <input type="radio" class="hidden-radio" value="S" name="type_field">
          <div class="radio-div-2">Sail</div>
        </label>
      </div>
      <h3>Condition</h3>
      <div class="radio-cont-2">
        <label>
          <input type="radio" class="hidden-radio" value="U" checked name="condition_field">
          <div class="radio-div-2">Used</div>
        </label>
        <label>
          <input type="radio" class="hidden-radio" value="N" name="condition_field">
          <div class="radio-div-2">New</div>
        </label>
      </div>
      <h3>What's the make & model?</h3>
      <label for="make">Make</label>
      {{ listing_create_form.make }}
      <label for="model">Model</label>
      {{ listing_create_form.model }}
    </div>
    <h2>Price and Location</h2>
    <div class="form-section-cont">
      <label for=""><h3>Price</h3></label>
      <div class="num-input-cont">
        <span class="unit-symbol">£</span>{{listing_create_form.price}}
      </div>
      <h3>Tax Status</h3>
      <div class="radio-cont-2">
        <label>
          <input type="radio" class="hidden-radio" value="Y" checked name="tax_status_field">
          <div class="radio-div-2">Paid</div>
        </label>
        <label>
          <input type="radio" class="hidden-radio" value="N" name="tax_status_field">
          <div class="radio-div-2">Unpaid</div>
        </label>
      </div>
      <h3>Country</h3>
        {{listing_create_form.country}}
      <h3>Location</h3>
        {{listing_create_form.location}}

    </div>
    <h2>Particulars</h2>
    <div class="form-section-cont">
      <div class="wrap-flex">
        <div class="particular-half-col">
          <label for="id_length">Length</label>
          <div class="num-input-cont">
            {{listing_create_form.length}}<span class="unit-symbol">m</span>
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_beam">Beam</label>
          <div class="num-input-cont">
            {{listing_create_form.beam}}<span class="unit-symbol">m</span>
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_draft">Draft</label>
          <div class="num-input-cont">
            {{listing_create_form.draft}}<span class="unit-symbol">m</span>
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_weight">Weight</label>
          <div class="num-input-cont">
            {{listing_create_form.weight}}<span class="two-digit-unit">kg</span>
          </div>
        </div>
      </div>
      <label for="id_draft">Hull Material</label>
      {{ listing_create_form.hull_material }}
    </div>
    <h2>Propulsion</h2>
    <div class="form-section-cont">
      <div class="wrap-flex">
        <div class="particular-half-col">
          <label for="id_length">Number of engines</label>
          <div class="num-input-cont">
            {{listing_create_form.number_of_engines }}
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_beam">Total HP</label>
          <div class="num-input-cont">
            {{listing_create_form.total_hp }}<span class="unit-symbol">m</span>
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_draft">Maximum Speed</label>
          <div class="num-input-cont">
            {{listing_create_form.maximum_speed}}<span class="two-digit-unit">Kn</span>
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_weight">Cruising Speed</label>
          <div class="num-input-cont">
            {{listing_create_form.cruising_speed}}<span class="two-digit-unit">Kn</span>
          </div>
        </div>
      </div>
      <label for="id_draft">Fuel</label>
      {{ listing_create_form.fuel }}
    </div>
    </div>
    <h2>Accomodation</h2>
    <div class="form-section-cont">
      <div class="wrap-flex">
        <div class="particular-half-col">
          <label for="id_length">Cabins</label>
          <div class="num-input-cont">
            {{listing_create_form.cabins }}
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_beam">Berths</label>
          <div class="num-input-cont">
            {{listing_create_form.berths }}
          </div>
        </div>
        <div class="particular-half-col">
          <label for="id_draft">Heads</label>
          <div class="num-input-cont">
            {{listing_create_form.heads}}
          </div>
        </div>
      </div>
    </div>
    <h2>Description</h2>
    <div class="form-section-cont">

    </div>
    <h2>Features</h2>
    <div class="form-section-cont">

    </div>
    <h2>Images</h2>
    <div class="form-section-cont">

    </div>
  

    {{ listing_create_form.type }}
  
    {{ listing_media_form.image }}
  
    <button type="submit">Submit Form</button>
  </form>
</main>
{% endblock %}
