{% extends "listings/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/my_listings.css' %}"> </link>
<title>My Listings - NextBoat</title>
{% endblock %}

{% load humanize %}
{% block content %}
<h1>
    Boats for Sale
</h1>
{% if listings_list %}
    <ul>
        {% for listing in listings_list %}
            <li>{{ listing.make }} {{ listing.model }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No results found.</p>
{% endif %}

<main>
    <h1>My Listings</h1>
    <div id="no-listings-cont">
        <img src="{% static 'images/binoculars.svg' %}">
        <span>You have no listings,<br>why not create one?</span>
    </div>
    <a id="create-a" href="{% url 'listing_create' %}">
        <div id="create-button" role="button">Create a listing</div>
    </a>

</main>
{% endblock %}