{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/my_listings.css' %}">
<title>My Listings - NextBoat</title>
{% endblock %}
{% block content %}
<main>
    <h1>My Listings</h1>

    {# check if there are any listings #}
    {% if listings_list %}
        {% for listing in listings_list %}
        <div class="listing-item-cont">
            <div class="my-col-left">
                <a href="{% url 'boat_listing_details' listing.pk %}"><img class="listing-item-f-image" alt="{{ listing.get_make_display }} {{ listing.model }}" src="{{ listing.featured_image.url }}"></a>
            </div>
            <div class="my-col-right">
                <div class="my-make-model"><a href="{% url 'boat_listing_details' listing.pk %}">{{ listing.get_make_display }} {{ listing.model }}</a></div>
                <div class="listing-status">Status: <span class="{{ listing.listing_status }}">{{ listing.get_listing_status_display }}</span></div>
                <div class="listing-actions-flex">
                    <!-- These are links to the different listing actions, edit, edit images, delete -->
                    <a href="{% url 'listing_edit' listing.pk %}" class="my-listing-actions"><div class="action-flex"><img alt="" class="my-listing-actions-icons" src="{% static 'images/my_listings_edit.svg' %}"><span>Edit Listing</span></div></a>
                    <a href="{% url 'listing_images' listing.pk %}" class="my-listing-actions"><div class="action-flex"><img alt="" class="my-listing-actions-icons" src="{% static 'images/my_listings_images.svg' %}"><span>Edit Images</span></div></a>
                    <a href="{% url 'listing_delete' listing.pk %}" class="my-listing-actions"><div class="action-flex"><img alt="" class="my-listing-actions-icons" src="{% static 'images/my_listings_delete.svg' %}"><span>Delete Listing</span></div></a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% If there are not listings, ask if user wants to create a new one %} 
        <div id="my-new-listing-text">Want to create a new listing?</div>
        {% else %}
        <div id="no-listings-cont">
            <img alt="" src="{% static 'images/binoculars.svg' %}">
            <span>You have no listings,<br>why not create one?</span>
        </div>
        {% endif %}
   
    <a id="create-a" href="{% url 'listing_create' %}">
        <div id="create-button" role="button">Create a listing</div>
    </a>

</main>
{% endblock %}