/* Variables */
:root {
    /* Colours */
    --accent-colour: #33CCCC;
    --white: #ffffff;
    --light-bg-grey: #fafafa;
    --light-mid-bg-grey: #EBEBEB;
    --light-text-grey: #666666;
    --medium-grey: #484848;
    --off-black: #333333;
    --dark-black: #222222;
    --form-field-bg-hover: #d5d5d5;
    --form-field-bg-inactive: #fbfbfb;
    --form-field-border-inactive: #d9d9d9;
    /* Font weights */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}
/* Heading styles */
main {
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    margin: 56px auto 24px auto;
    display: flex;
    padding: 0 16px;
    flex-direction: column;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
}
.form-section-cont {
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text] {
    width: 100%;
    max-width: 340px;
    font-size: 20px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    font-weight: var(--medium);
    padding: 8px;
    margin: 4px auto;
    border-radius: 8px;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 2px solid var(--accent-colour);
    background-color: var(--white);
}
input[type=number] {
    width: 100%;
    max-width: 320px;
    font-size: 20px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    font-weight: var(--medium);
    padding: 8px;
    margin: 4px auto;
    border-radius: 8px;
}
input[type=number]:focus {
    background-color: var(--white);
}
input[type=number]:active {
    border: 2px solid var(--accent-colour);
}
select {
    max-width: 340px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    height: 44px;
    font-size: 16px;
    font-weight: var(--medium);
    margin: 4px auto;
    padding: 0 8px;
}
select:focus {
    background-color: var(--white);
}
.num-input-cont {
    width: 100%;
    max-width: 340px;
    font-size: 20px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    border-radius: 8px;
    margin: 4px auto;
    box-sizing: border-box;
}
.num-input-cont input[type=number] {
    width: calc(100% - 58px);
    background-color: var(--form-field-bg-inactive);
    border: none !important;
    padding: 6px;
    font-size: 20px;
    font-weight: var(--medium);
    margin-left: 4px;
}
.num-input-cont input[type=number]:active {
    border: 2px solid var(--accent-colour);
}
.unit-symbol {
    font-size: 20px;
    margin: 0 12px;
    font-weight: var(--medium);
    color: var(--medium-grey);
}
.two-digit-unit {
    margin: 0 12px 0 6px;
    font-weight: var(--medium);
    color: var(--medium-grey);
    font-size: 20px;
}
label {
    display: block;
    width: 100%;
    max-width: 336px;
    padding: 0;
    margin: 8px auto;
    font-size: 16px;
    font-weight: var(--regular);
    color: #484848;
    text-align: left;
    box-sizing: border-box;
}
.radio-cont-2 {
    max-width: 340px;
    box-sizing: border-box;
    width: 100%;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.radio-cont-2 label {
    width: calc(50% - 4px);
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}
.radio-cont-2:first-child {
    margin-right: 4px;
}
.radio-cont-2:last-child {
    margin-left: 4px;
}
.radio-div-2 {
    background-color: var(--form-field-bg-inactive);
    border: solid 2px var(--form-field-border-inactive);
    border-radius: 8px;
    width: 100%;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}
.hidden-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radio-cont-2 [type=radio]:checked + div {
    border: 2px solid var(--accent-colour);
}
.wrap-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 338px;
    justify-content: space-between;
    margin: 0 auto;
}
.particular-half-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(50% - 6px);
    max-width: 340px;
    margin: 0;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    max-width: 340px;
    font-size: 20px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    font-weight: var(--medium);
    padding: 8px;
    margin: 4px auto;
    border-radius: 8px;
    box-sizing: border-box;
    resize:none;
    height: 120px;
}
textarea:focus {
    border: 2px solid var(--accent-colour);
    background-color: var(--white);
}
.form-tip {
    width: 100%;
    max-width: 340px;
    background-color: #e4f7f7;
    border-radius: 8px;
    font-size: 16px;
    color: var(--light-text-grey);
    margin: 8px auto;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 18px;
}
.form-tip img {
    height: 24px;
    width: 24px;
    margin: 4px 8px 0 4px;
}