/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Variables */
:root {
    /* Colours */
    --accent-colour: #33CCCC;
    --white: #ffffff;
    --light-bg-grey: #fafafa;
    --light-mid-bg-grey: #EBEBEB;
    --light-text-grey: #666666;
    --medium-grey: #484848;
    --off-black: #333333;
    --dark-black: #222222;
    --form-field-bg-hover: #d5d5d5;
    --form-field-bg-inactive: #fbfbfb;
    --form-field-border-inactive: #d9d9d9;
    --accent-colour-dark: #20AFAF;
    /* Font weights */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}
/* Heading styles */
main {
    width: 100%;
    max-width: 960px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 56px auto 24px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.form-section-cont {
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px 16px 32px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
input[type=text] {
    width: 100%;
    max-width: 340px;
    font-size: 16px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    font-weight: var(--medium);
    padding: 8px;
    margin: 4px auto;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
input[type=text]:focus {
    border: 2px solid var(--accent-colour);
    background-color: var(--white);
}
input[type=number] {
    width: 100%;
    max-width: 320px;
    font-size: 20px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    font-weight: var(--medium);
    padding: 8px;
    margin: 4px auto;
    border-radius: 8px;
    color: var(--medium-grey);
}
input[type=number]:focus {
    background-color: var(--white);
}
input[type=number]:active {
    border: 2px solid var(--accent-colour);
}
select {
    max-width: 340px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    height: 44px;
    font-size: 16px;
    font-weight: var(--medium);
    margin: 4px auto;
    padding: 0 8px;
    color: var(--medium-grey);
}
select:focus {
    background-color: var(--white);
}
.num-input-cont {
    width: 100%;
    max-width: 340px;
    font-size: 20px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    border-radius: 8px;
    margin: 4px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.num-input-cont input[type=number] {
    width: calc(100% - 58px);
    background-color: var(--form-field-bg-inactive);
    border: none !important;
    padding: 6px;
    font-size: 20px;
    font-weight: var(--medium);
    margin-left: 4px;
}
.num-input-cont input[type=number]:active {
    border: 2px solid var(--accent-colour);
}
.unit-symbol {
    font-size: 16px;
    margin: 0 12px;
    font-weight: var(--medium);
    color: var(--medium-grey);
}
.two-digit-unit {
    margin: 0 12px 0 6px;
    font-weight: var(--medium);
    color: var(--medium-grey);
    font-size: 16px;
}
label {
    display: block;
    width: 100%;
    max-width: 336px;
    padding: 0;
    margin: 8px auto;
    font-size: 16px;
    font-weight: var(--regular);
    color: #484848;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.radio-cont-2 {
    max-width: 340px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin: 8px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.radio-cont-2 label {
    width: calc(50% - 4px);
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}
.radio-cont-2:first-child {
    margin-right: 4px;
}
.radio-cont-2:last-child {
    margin-left: 4px;
}
.radio-div-2 {
    background-color: var(--form-field-bg-inactive);
    border: solid 2px var(--form-field-border-inactive);
    border-radius: 8px;
    width: 100%;
    height: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.hidden-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.radio-cont-2 [type=radio]:checked + div {
    border: 2px solid var(--accent-colour);
}
.wrap-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 338px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
}
.particular-half-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(50% - 6px);
    max-width: 340px;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
textarea {
    width: 100%;
    max-width: 340px;
    font-size: 16px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    font-weight: var(--medium);
    padding: 8px;
    margin: 4px auto;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    resize:none;
    height: 180px;
    font-family: proxima-nova, sans-serif, Arial;
}
textarea:focus {
    border: 2px solid var(--accent-colour);
    background-color: var(--white);
}
.form-tip {
    width: 100%;
    max-width: 340px;
    background-color: #e4f7f7;
    border-radius: 8px;
    font-size: 16px;
    color: var(--light-text-grey);
    margin: 8px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    line-height: 18px;
}
.form-tip img {
    height: 24px;
    width: 24px;
    margin: 4px 8px 0 4px;
}
.field-char-count {
    width: 100%;
    max-width: 340px;
    margin: 4px auto;
    font-size: 12px;
    font-style: italic;
    color: var(--light-text-grey);
    text-align: right;
    font-size: 16px;
}
#feature-form-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    max-width: 340px;
    margin: 0 auto 4px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#add_feature_text {
    width: calc(100% - 60px);
    margin: 0;
}
button {
    background-color: var(--accent-colour);
    border-radius: 8px;
    color: var(--white);
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 160px;
    height: 40px;
    margin: 16px auto;
}
#add_feature_button:disabled {
    background-color: #bebebe !important;
    border-radius: 8px;
    color: var(--medium-grey);
    font-size: 16px;
    border: none;
    cursor: not-allowed;
}
#add_feature_button {
    font-size: 16px;
    margin: 0;
    padding: 0px 8px;
    height: 38px;
    width: 52px;
}
#add_feature_button:hover {
    color: var(--white);
    background-color: var(--accent-colour-dark);
}
button:hover {
    background-color: var(--accent-colour-dark);
    border-radius: 8px;
    color: var(--white);
    font-size: 16px;
}
#feature-flex-list {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.feature-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 4px 0;
    background-color: var(--form-field-bg-inactive);
    padding: 6px 6px 6px 8px;
    border: 1px solid var(--form-field-border-inactive);
    border-radius: 8px;
}
.feature-item span {
    display: inline-block;
    width: calc(100% - 38px);
    margin: 4px 4px 4px 0;
}
.delete_list_item {
    width: 32px;
    height: 32px;
    padding: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: var(--light-mid-bg-grey);
    border: solid 1px var(--form-field-border-inactive);
    background-image: url(/static/images/delete.svg);
    background-size: auto 16px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    cursor: pointer;
}
.delete_list_item:hover {
    background-color: var(--form-field-border-inactive);
}
#add-feature-text {
    display: inline-block;
    width: 100%;
    margin: 12px auto;
    text-align: center;
    font-size: 16px;
    color: var(--light-text-grey);
}
#category-cont {
    width: 100%;
    display: flex;
    justify-items: center;
    flex-direction: column;
}
#clp {
    display: none;
}
#cls {
    display: none;
}
#category_list_power {
    display: none;
}
#category_list_sail {
    display: none;
}
input[type="file"] {
    margin: 0 auto 8px auto;
    padding: 16px;
    background-color: var(--form-field-bg-inactive);
    border-radius: 8px;
    border: 1px solid var(--form-field-border-inactive);
    box-sizing: border-box;
    max-width: 340px;
    display: flex;
    width: 100%;
}