/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Variables */
:root {
    /* Colours */
    --accent-colour: #33CCCC;
    --white: #ffffff;
    --light-bg-grey: #fafafa;
    --light-mid-bg-grey: #EBEBEB;
    --light-text-grey: #666666;
    --medium-grey: #484848;
    --off-black: #333333;
    --dark-black: #222222;
    --form-field-bg-hover: #d5d5d5;
    --form-field-bg-inactive: #fbfbfb;
    --form-field-border-inactive: #d9d9d9;
    --accent-colour-dark: #20AFAF;
    /* Font weights */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}
/* Content styles styles */
    /* Styles for when there are no favourites */
#no-favourites-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}
#no-favourites-cont img {
    width: 160px;
    height: auto;
    margin: 24px auto;
}
#no-favourites-cont span {
    font-size: 20px;
    font-weight: var(--medium);
    color: var(--medium-grey);
    display: inline-block;
    margin: 8px auto;
    line-height: 28px;
    text-align: center;
    max-width: 500px;
}
/* Styles for when there are favourites */
.favourite-item-cont {
    width: 100%;
    margin: 8px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 12px;
    border-radius: 16px;
    background-color: var(--white);
    box-sizing: border-box;
    justify-content: space-between;
}
.favourite-text-img {
    height: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.favourite-item-cont a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.favourite-text-img span {
    font-size: 20px;
    color: var(--dark-black);
    font-weight: var(--semibold);
    text-decoration: none;
    display: inline-block;
}
.favourite-text-img:hover span {
    text-decoration: underline;
}
.favourite-item-image {
    height: 48px;
    width: 48px;
    margin-right: 16px;
    border-radius: 32px;
    object-fit: cover;
}
.delete-cont {
    margin-left: 8px;
}
.fav-delete-button {
    width: 32px;
    height: 32px;
    display: flex;
    flex-wrap: no;
    align-items: center;
    justify-content: center;
    background-color: var(--light-bg-grey);
    border-radius: 20px;
    border: 1px solid var(--light-text-grey);
    padding: 4px;
}
.fav-delete-button:hover {
    background-color: var(--form-field-bg-hover);
}
.fav-delete-button img {
    height: auto;
    width: 50%;
}