:root {
    /* Colours */
    --accent-colour: #33CCCC;
    --white: #ffffff;
    --light-bg-grey: #fafafa;
    --light-mid-bg-grey: #EBEBEB;
    --light-text-grey: #666666;
    --medium-grey: #484848;
    --off-black: #333333;
    --black: #222222;
    /* Font weights */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}
/* Listing Detail View Styles */
#listing-detail-main {
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    margin: 56px auto 24px auto;
    display: flex;
    padding: 0 8px;
    flex-direction: column;
}
#listings-return a {
    text-decoration: none;
    color: var(--light-text-grey);
}
#listings-return a {
    text-decoration: underline;
    color: var(--light-text-grey);
}
.listing-detail-h1 {
    color: var(--off-black);
    font-size: 32px;
    font-weight: var(--semibold);
    margin: 0;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}
#listing-details-flex {
    width: 100%;
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 1px solid var(--light-mid-bg-grey);
    padding-top: 8px;
    box-sizing: border-box;
}
#listing-particulars-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    box-sizing: border-box;
}
#listing-description-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 12px;
}
.listing-details-h3 {
    font-weight: var(--bold);
    font-size: 20px;
    color: var(--off-black);
    padding: 0;
    margin: 8px 0;
}
.particulars-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--white);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.particulars-card-col-left {
    width: 50%;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.particulars-card-col-right {
    width: 50%;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.particulars-descriptor {
    font-size: 14px;
    color: var(--light-text-grey);
    font-weight: var(--medium);
    display: block;
}
.particulars-detail{
    font-size: 16px;
    color: var(--black);
    font-weight: var(--medium);
    display: block;
    margin-bottom: 4px;
}