:root {
    /* Colours */
    --accent-colour: #33CCCC;
    --white: #ffffff;
    --light-bg-grey: #fafafa;
    --light-mid-bg-grey: #EBEBEB;
    --light-text-grey: #666666;
    --medium-grey: #484848;
    --off-black: #333333;
    --black: #222222;
    /* Font weights */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}
/* Listing Detail View Styles */
#listing-detail-main {
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    margin: 56px auto 24px auto;
    display: flex;
    padding: 0 8px;
    flex-direction: column;
}
#listings-return a {
    text-decoration: none;
    color: var(--light-text-grey);
    font-size: 16px;
    font-weight: var(--medium);
}
#listings-return a:hover {
    text-decoration: underline;
    color: var(--light-text-grey);
}
#listings-return a:hover::before {
    transform: translate(-4px, 2px);
}
#listings-return a::before {
    content: url(/static/images/return_icon.svg);
    height: 16px;
    width: 16px;
    display: inline-block;
    padding-right: 8px;
    transform: translate(0, 2px);
    transition: 0.2s ease-in-out;
}
.listing-detail-h1 {
    color: var(--off-black);
    font-size: 32px;
    font-weight: var(--semibold);
    margin: 0;
    padding-bottom: 16px;
    width: 100%;
    text-align: center;
}
#listing-details-flex {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 1px solid var(--light-mid-bg-grey);
    box-sizing: border-box;
}
#listing-particulars-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    box-sizing: border-box;
}
#listing-description-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 12px;
}
.listing-details-h3 {
    font-weight: var(--bold);
    font-size: 20px;
    color: var(--off-black);
    padding: 0;
    margin: 16px 0;
}
.particulars-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--white);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.particulars-card-col-left {
    width: 50%;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.particulars-card-col-right {
    width: 50%;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.particulars-descriptor {
    font-size: 14px;
    color: var(--light-text-grey);
    font-weight: var(--medium);
    display: block;
}
.particulars-detail{
    font-size: 16px;
    color: var(--black);
    font-weight: var(--medium);
    display: block;
    margin-bottom: 4px;
}
.listing-details-feature {
    display: block;
    font-size: 16px;
    color: var(--black);
    padding: 4px 0;
}
.listing-details-feature::before {
    content: url("/static/images/check_icon.svg");
    height: 16px;
    width: 16px;
    margin-right: 8px;
    display: inline-block;
}
#features-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#listing-pictures-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-bottom: 16px;
}
#main-listing-picture {
    width: 50%;
    box-sizing: border-box;
    height: 260px;
}
#main-listing-picture img {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 16px 0 0 16px;
}
#listing-picture-grid {
    width: 50%;
    box-sizing: border-box;
    max-height: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 126px 126px;
    grid-gap: 8px;
    padding-left: 8px;
    overflow: hidden;
    border-radius: 0 16px 16px 0;
}
#listing-picture-grid img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    background-image: url(/static/images/default_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#gallery-launch_button {
    width: 144px;
    height: 32px;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    border-radius: 16px;
    color: var(--medium-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: var(--medium);
    cursor: pointer;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.12);
}
#gallery-launch_button span::before {
    content: url(/static/images/gallery_icon.svg);
    height: 18px;
    width: 20px;
    margin-right: 8px;
    display: inline-block;
}
#interested-cont {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
#contact-seller-cont {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#contact-seller-label {
    display: inline-block;
    font-weight: var(--medium);
    color: var(--medium-grey);
    margin-right: 16px;
}
#favourite-button {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--light-mid-bg-grey);
    background-image: url(/static/images/heart_icon.svg);
    background-size: auto 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#share-button {
    height: 32px;
    width: 32px;
    border-radius: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--light-mid-bg-grey);
    background-image: url(/static/images/share_icon.svg);
    background-size: auto 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
#contact-button-a {
    color: var(--white);
    text-decoration: none;
}
#contact-seller-button {
    width: 152px;
    height: 32px;
    background-color: var(--accent-colour);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
}
#contact-seller-button span::before {
    content: url(/static/images/contact_seller_icon.svg);
    height: 16px;
    width: 16px;
    margin-right: 8px;
    display: inline-block;
    transform: translateY(3px);
}
