#messages-main {
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px;
}
.message-flex {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--white);
    margin-top: 16px;
    padding: 24px 16px;
    border-radius: 16px;
}
#create-message-flex {
    margin-top: 0;
}
#message-back {
    margin-top: 16px;
    font-size: 16px;
    text-decoration: none;
    color: var(--medium-grey);
    line-height: 16px;
    font-weight: var(--medium);
}
#message-back:hover {
    color: var(--accent-colour);
}
#message-back img {
    display: inline-block;
    height: 14px;
    width: auto;
    margin-right: 6px;
    transform: translateY(1px);
}
.message-bubble {
    width: calc(100% - 32px - 64px);
    color: var(--white);
    font-size: 16px;
    font-weight: var(--medium);
    line-height: 18px;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 8px;
}
.other {
    background-color: var(--accent-colour);
    margin-right: 64px;
}
.this {
    background-color: var(--accent-colour-dark);
    margin-left: 64px;
}
.conversation-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 16px;
    padding: 0px 8px 8px 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
#create-cont {
    margin-bottom: 0;
    padding:  0px 8px 0px 8px;
}
.conversation-bubbles {
    position: relative;
    width: 88px;
    height: 72px;
    margin-right: 8px;
}
.bubble-username {
    height: 52px;
    width: 52px;
    border-radius: 32px;
    object-fit: contain;
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    background-color: var(--accent-colour-dark);
    color: #ffffff;
    font-size: 32px;
    font-weight: var(--bold);
}
.bubble-featured-image {
    height: 52px;
    width: 52px;
    border-radius: 32px;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(196, 196, 196);
}
.conversation-text-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 72px;
    width: calc(100% - 88px);
}
.conversation-username {
    font-size: 24px;
    color: var(--off-black);
    font-weight: var(--medium);
    line-height: 24px;
    margin-bottom: 4px;
}
.conversation-boat-name {
    font-size: 20px;
    color: var(--medium-grey);
    font-weight: var(--regular);
    line-height: 20px;
}
.conversation-date {
    font-size: 12px;
    color: var(--light-text-grey);
    line-height: 12px;
}
#no-messages {
    margin: 24px auto;
    color: #484848;
    font-size: 20px;
    font-weight: var(--medium);
}
form {
    margin-top: 16px;
    width: 100%;
}
input[type=text] {
    width: calc(100% - 60px);
    font-size: 16px;
    background-color: var(--form-field-bg-inactive);
    border: 2px solid var(--form-field-border-inactive);
    font-weight: var(--medium);
    padding: 8px;
    margin-right: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    border-radius: 8px;
    color: var(--white);
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0px 8px;
    height: 38px;
    width: 44px;
    background-color: var(--accent-colour);
}
#submit-icon {
    height: 16px;
    width: auto;
    transform: translateY(2px)
}
button:disabled {
    background-color: #bebebe !important;
    color: var(--medium-grey);
    border: none;
    cursor: not-allowed;
}